.image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--medium-distance);
  border-radius: var(--card-border-radius);
}

.image-container img {
  object-fit: cover;
}

.name {
  margin-bottom: var(--medium-distance);
  font-size: 18px;
}

.character {
  font-size: 15px;
  text-wrap: wrap;
}

.accent-character {
  color: var(--accent-color);
}
