.image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--small-distance);
}

.image-container img {
  object-fit: cover;
}

.name {
  margin-bottom: var(--medium-distance);
  font-size: var(--medium-font-size);
}
