.button {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: 3px solid var(--accent-color);
  border-radius: var(--btn-border-radius);
  color: var(--main-font-color);
  font-size: var(--medium-font-size);
  font-weight: 700;
  transition: border 250ms linear, color 250ms linear;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  border: 3px solid var(--main-font-color);
  border-radius: var(--btn-border-radius);
  color: var(--accent-color);
}

.centered-btn {
  margin-right: auto;
  margin-left: auto;
}
