.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--small-distance);
  justify-content: center;
}

.genres-item {
  text-align: center;
  padding: 5px;
  border-radius: var(--card-border-radius);
  background-color: var(--accent-color);
  font-size: var(--small-font-size);
}
