.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--small-distance);
  justify-content: center;
}

.genres-item {
  text-align: center;
  padding: 5px;
  border-radius: var(--card-border-radius);
  background-color: var(--extra-bg-color);
  color: var(--extra-font-color);
  font-size: 10px;
}

.genres-container {
  padding: 10px;
}
