.movie-item {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  border-bottom: 1px solid var(--main-font-color);
  padding-bottom: var(--medium-distance);
  box-shadow: var(--shining-box-shadow);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  column-gap: var(--big-distance);
  row-gap: 100px;
  margin-bottom: 5rem;
}
